.threadcard-container {
  max-width: 650px;
  height: auto;
  margin-bottom: 0.8em;
  justify-content: space-evenly;
  padding: 0;
}

.threadcard-txt-container {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0.75em 1em 0.75em 1.2em;
}

.threadcard-points {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 8%;
  height: inherit;
  background-color: white;
  border-left: solid 1px var(--border-color);
  padding-top: 1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.threadcard-body {
  margin-bottom: 0.5em;
  overflow-y: auto;
  cursor: pointer;
}

.threadcard-footer {
  font-size: var(--sm-font-size);
  color: var(--proceed-color);
  font-weight: bold;
  word-wrap: break-word;
  overflow: auto;
  line-height: 10px;
  margin-top: 0.5em;
}

.threadcard-points-item {
  color: var(--point-color);
  font-size: var(--sm-med-font-size);
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
