.threadpointsinline-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--point-color);
  font-size: var(--sm-med-font-size);
  text-align: center;
}

.threadpointsinline-item-btn {
  cursor: pointer;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
